@import "tailwindcss";

:root {
  font-family: "Outfit", sans-serif;
  --bg-dark: #050505;
}

body {
  background-color: var(--bg-dark);
  overflow-x: hidden;
}

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}